# Mac junk
.DS_Store
Thumbs.db

# VSCode workspace
py-coverage-markers.code-workspace

# Node stuff
node_modules
coverage

# Python stuff
.env
.coverage
.pytest_cache
__pycache__

# Built extension contents + packages
out
dist
*.vsix
